{% extends "portfolio/header.html" %}

{% block content %}
    <div class="mainContent">
      <div class="content">
        <article class="topContent">
          <header>
            <h2><a href="https://www.youtube.com/watch?v=UviHeOoBrpg" title="First post">Jerk that chicken</a></h2>
          </header>

          <footer>
            <p class="post-info">This post is written by Rando</p>
          </footer>

          <content>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Nunc condimentum justo non justo vehicula, nec ultricies sem commodo.
              Curabitur ut diam viverra, rutrum mauris nec, pretium massa.
              Quisque eu quam imperdiet, condimentum mi quis, laoreet ligula.
              Vivamus vestibulum leo ut tellus interdum, gravida feugiat diam pellentesque.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Nunc condimentum justo non justo vehicula, nec ultricies sem commodo.
              Curabitur ut diam viverra, rutrum mauris nec, pretium massa.
              Quisque eu quam imperdiet, condimentum mi quis, laoreet ligula.
              Vivamus vestibulum leo ut tellus interdum, gravida feugiat diam pellentesque.</p>
          </content>
        </article>

        <article class="bottomContent">
          <header>
            <h2><a href="https://www.youtube.com/watch?v=0WwRwVbBhb4" title="Second post">AeOeAeOe</a></h2>
          </header>

          <footer>
            <p class="post-info">This post is written by AeOe</p>
          </footer>

          <content>
            <p>Aeoea eoaeoa eoae aeaAEaoeA eoEOA eoaeEo aOEaeoa EoaeO EoaEeo oEa, EoaEAoe.
              EOaeoAEoaeoEa  oEaoeae oeA,EOAe AeoaE aoeEaoEoaeo eoEoaeAEoeAEOEAoeAOEA.
              AOeeoa EaoeOA eoaEoa eoaEoa eoaeo. EaOEa oeoaE ooEoae oAeaE OaeoA EoaeoAoe aOeaoea.
              Aeoeaeoaeoa EOaeäa eoaeoae oAEoaE. OAEaoea oeaoe aAEAOeao eaEo. ae Aeoa oeao eOAe aEOaeo.
              AOEOAEoaeoaoeAeOAEO Aeoaeo. aOEaoeao EaoeoEOa oeOEao eao EOAE aoEOe. aEOaeoAOE oaeoa eOAE.</p>
            <p>Aeoea eoaeoa eoae aeaAEaoeA eoEOA eoaeEo aOEaeoa EoaeO EoaEeo oEa, EoaEAoe.
              EOaeoAEoaeoEa  oEaoeae oeA,EOAe AeoaE aoeEaoEoaeo eoEoaeAEoeAEOEAoeAOEA.
              AOeeoa EaoeOA eoaEoa eoaEoa eoaeo. EaOEa oeoaE ooEoae oAeaE OaeoA EoaeoAoe aOeaoea.
              Aeoeaeoaeoa EOaeäa eoaeoae oAEoaE. OAEaoea oeaoe aAEAOeao eaEo. ae Aeoa oeao eOAe aEOaeo.
              AOEOAEoaeoaoeAeOAEO Aeoaeo. aOEaoeao EaoeoEOa oeOEao eao EOAE aoEOe. aEOaeoAOE oaeoa eOAE.</p>
          </content>
        </article>
      </div>
    </div>
{% include "portfolio/includes/sidebars.html" %}
{% endblock %}